.container {
    padding: 0 2rem;
    background-color: #1d1d1d;
  }

  
  .main {
    min-height: 80vh;
    left: 0;
    width: 100%;
    padding: 4rem 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1500px;
  }
  .grid1 {
    position:absolute;
    align-items:center;
    justify-content:center;
    display: flex;
    max-width: 1500px;
    height: 120vh;
    width: 900vh;
    margin-top: 0px;
  }
  .grid2 {
    position:absolute;
    align-items:center;
    justify-content:center;
    display: flex;
    max-width: 1500px;
    height: 50vh;
    width: 50vh;
    margin-top: 0px;
  }
  
  .card {
    margin: 1rem;
    padding: 1.5rem;
    font-family: monospace;
    align-items: center;
    text-align: left;
    color: #07fcef;
    background-color: #000000;
    text-decoration: none;
    border: 1px solid #07fcef;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    height: 400px;
    width: 280px;
    cursor: pointer;
  }
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #fa10c7;
    border-color: #fa10c7;
  }

  .playlist {
      margin: 1rem;
      padding: 1.5rem;
      font-family: monospace;
      align-items: center;
      text-align: left;
      color: #07fcef;
      background-color: #000000;
      text-decoration: none;
      border: 1px solid #07fcef;
      border-radius: 10px;
      transition: color 0.15s ease, border-color 0.15s ease;
      height: 600px;
      width: 1200px;
      top: 100px;
  }

  .playlistheader{
    display: flex; 
  justify-content: space-between;
  }

  .playlistsong{
    display: flex; 
    justify-content: space-between;
    align-items: center;
      text-align: center;
    color: #fa10c7;
  }

  .line{
    color:#fa10c7;
    size:1px;
  }

  .closebutton{
    position: relative;
    top: -65px;
    left: 1200px;
    padding: 0px;
    cursor: pointer;
  }

  .elementvisible { display: block;
    margin: 1rem;
      padding: 1.5rem;
      font-family: monospace;
      align-items: center;
      text-align: left;
      color: #07fcef;
      background-color: #000000;
      text-decoration: none;
      border: 1px solid #07fcef;
      border-radius: 10px;
      transition: color 0.15s ease, border-color 0.15s ease;
      height: 400px;
      width: 900px; }

  .elementhidden { display:none;
    margin: 1rem;
      padding: 1.5rem;
      font-family: monospace;
      align-items: center;
      text-align: left;
      color: #07fcef;
      background-color: #000000;
      text-decoration: none;
      border: 1px solid #07fcef;
      border-radius: 10px;
      transition: color 0.15s ease, border-color 0.15s ease;
      height: 400px;
      width: 900px; }

    .AddSong {
      color: #ffffff;
    }

    .AddSong1 {
      text-align: center;
      align-items: center;
    }

    .submit {
      background: #07fcef;
      border: none;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      font-size: 32px;
      color: #fa10c7;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 5px;
      margin-bottom: 5px;
    }

    .form {
      color: #ffffff;
    }