.searchBar {
    z-index: 3;
    border: none;
}

.searchElements {
    width: 100%;
    color: #fa10c7;
    background-color: #000000;
    font-family: monospace;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    cursor: pointer;
    margin-left: 50;
    border: none;
}

.title {
    align-items: left;
}

.artist {
    align-items: center;
}

.album {
    align-items: left;
}

.playlistheader{
    display: flex; 
    justify-content: space-between;
  }